p {
	margin:auto;
	position:absolute;
	letter-spacing:0px;
}

.answerP {
	font-size:30pt;
	font-family:Verdana;
	color:#FFFFFF;
	text-shadow:2px 2px 0px black;
	left:140px;
	top:24px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.breakP { 
	width:846px;
	text-align:right;
	font-size:57pt;
	font-family:Verdana;
	font-weight: bold;
	color:white;
	bottom:480px;
	left: -90px;
	text-align: center;
	transform-origin: left;
	opacity: 0;
}

.ataPercentStrapP { 
	width:146px;
	text-align:center;
	font-size:27pt;
	font-family:Verdana;
	color:white;
	top:18px;
}

.questionsLeftP {
	font-size:56pt;
	font-family:myriad;
	letter-spacing: 1px;
	color:white;
	text-align:center;
	top:55px;
	left:0px;
	right:0px;
	transform-origin:center;
	scale:100% 100%;
}

.moneyrightP { 
	font-size:56pt;
	font-family:myriad;
	letter-spacing: 1px;
	color:white;
	text-align:center;
	top:55px;
	left:0px;
	right:0px;
	transform-origin:center;
	scale:100% 100%;
}

.moneywalkawayP { 
	font-size:56pt;
	font-family:myriad;
	letter-spacing: 1px;
	color:white;
	text-align:center;
	top:50px;
	left:0px;
	right:0px;
	transform-origin:center;
	scale:100% 100%;
}

.moneylostP { 
	font-size:56pt;
	font-family:myriad;
	letter-spacing: 1px;
	color:white;
	text-align:center;
	top:50px;
	left:0px;
	right:0px;
	transform-origin:center;
	scale:100% 100%;
}

.moneywrongP { 
	font-size:56pt;
	font-family:myriad;
	letter-spacing: 1px;
	color:white;
	text-align:center;
	top:50px;
	left:0px;
	right:0px;
	transform-origin:center;
	scale:100% 100%;
}

.letterrightP {
	font-size:74pt;
	font-family:Verdana;
	color:#ffffff;
	left:38px;
	top:25px;
	letter-spacing:-1px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.contestantNameForHostP {
	font-size:40pt;
	font-family:Verdana;
	color:white;
	text-align:right;
	letter-spacing:3px;
	width:900px;
	left:-175px;
	bottom:29px;
}

.contestantLocationForHostP {
	font-size:40pt;
	font-family:Verdana;
	color:#ffffff;
	text-align:left;
	width:900px;	
	right:-300px;
	bottom:29px;
}

.contestantDashForHostP {
	font-size:40pt;
	font-family:Verdana;
	color:#ffffff;
	text-align:center;
	width:900px;
	right:0px;
	left: 113px;
	bottom:29px;
}

.contestantNameForHostP::after {
    content: " - ";
}

.contestantNameP {
	font-size:30pt;
	font-family:Verdana;
	color:white;
	text-align:center;
	width:900px;
	left:0px;
	right:0px;
	top:52px;
	text-shadow:2px 2px 0px black;
}

.contestantLocationP {
	font-size:27pt;
	font-family:Verdana;
	color:#EA932C;
	text-align:center;
	width:900px;
	left:0px;
	right:0px;
	bottom:107px;
	text-shadow:2px 2px 0px black;
}

.contestantNameForStrapP {
	font-size:40pt;
	font-family:Verdana;
	color:white;
	text-align:center;
	letter-spacing:3px;
	width:900px;
	left:0px;
	right:0px;
	top:19px;
	opacity: 0;
	text-shadow:2px 2px 0px black;
}

.contestantLocationForStrapP {
	font-size:35pt;
	font-family:Verdana;
	color:#DFAA14;
	text-align:center;
	width:900px;
	left:0px;
	right:0px;
	top:82px;
	opacity: 0;
	text-shadow:2px 2px 0px black;
}

.fastestContestantNameP {
	font-size:30pt;
	font-family:Verdana;
	color:#FFFFFF;
	top:25px;
	left:585px;
	text-shadow:2px 2px 0px black;
}

.fastestContestantTimeP {
	font-size:30pt;
	font-family:Verdana;
	color:#FFFFFF;
	top:25px;
	right:585px;
	text-shadow:2px 2px 0px black;
}

.fastestContestantWinnerNameP {
	font-size:40pt;
	font-family:Verdana;
	color:white;
	text-align:center;
	letter-spacing:3px;
	width:900px;
	left:0px;
	right:0px;
	top:65px;
}

.fastestContestantWinnerTimeP {
	font-size:35pt;
	font-family:Verdana;
	color:#DFAA14;
	text-align:center;
	width:900px;
	left:0px;
	right:0px;
	bottom:65px;
}

.fastestFingerTreeQuestionP {
	color:white;
	font-family:Verdana;
	font-size:30pt;
	text-shadow:2px 2px 0px black;
}

.fastestTreeLetterP {
	font-size:25pt;
	font-family:Verdana;
	color:#DFAA14;
	left:40px;
	top:29px;
	text-shadow:2px 2px 0px black;
}

.fastestTreeAnswerP{
	font-size:25pt;
	font-family:Verdana;
	color:#FFFFFF;
	left:80px;
	top:29px;
	text-shadow:2px 2px 0px black;
}

.letterP {
	font-size:30pt;
	font-family:Verdana;
	color:#EA932C;
	text-shadow:2px 2px 0px black;
	left:86px;
	top:24px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.letterATAP {
	font-size:32pt;
	font-family:Verdana;
	color:#ffffff;
	font-weight: bold;
	left:75px;
	top:280px;
	letter-spacing:-1px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}

.winningsP {
	color:#FFFFFF;
	font-family:'Copperplate31bc';
	font-size:94pt;
	text-align:center;
	width:1920px;
	left:-12px;
	right:0px;
	top:32px;
	text-shadow:4px 3px 0px black;
	letter-spacing:-3px;
	scale:100% 100%;
}